.widget-slider {
  width: 110%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .widget-slider {
    width: 100%;
  }
}

.slider-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .slider-content {
    max-width: 1200px;
    gap: 2rem;
  }
}

.slider-container {
  overflow: hidden;
  position: relative;
  width: 280px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .slider-container {
    width: 400px;
    height: 700px;
  }
}

.slider-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
    background-color: #2b1056 ; /* רקע סגול שיבליט את הכפתור */
    color: white !important; /* החץ יהיה לבן */
    border: none;
    border-radius: 40%;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
    z-index: 2; /* לוודא שהחצים תמיד מעל התוכן */

}

@media (min-width: 768px) {
  .nav-button {
    width: 50px;
    height: 40px;
  }
}

.nav-button:hover {
  background: #461b8d;
  transform: scale(1.05);
}

.nav-button:active {
  transform: scale(0.95);
}

.widget-info {
  text-align: center;
  max-width: 300px;
  font-family: "Comfortaa-Variable", sans-serif;
}

@media (min-width: 768px) {
  .widget-info {


    max-width: 400px;
  }
}

.widget-info h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 1px;
}

@media (min-width: 768px) {
  .widget-info h3 {
    font-size: 1.5rem;
  }
}

.widget-info p {
  color: #4b5563;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .widget-info p {
    font-size: 1rem;
  }
}

.slider-dots {
  display: flex;
  gap: 0.5rem;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #e5e7eb;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .dot {
    width: 8px;
    height: 8px;
  }
}

.dot.active {
  background: #9333ea;
  transform: scale(1.2);
}


